
/***********************************************************************************************/
/*  Responsive/adaptive stuff */
/***********************************************************************************************/

/** 980* 1280 **/
@media only screen and (min-width: 960px) and (max-width: 980px){

	
}

@media only screen and (min-width: 1200px) and (max-width: 1370px) {
.nav-list li {
	margin-right: 35px;
}

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1199px) {
.logo a h1 {
	font-size: 28px;
}
.nav-list{
	display: block;
}
.nav-cross-icon {
	cursor: pointer;
	color: #fff;
	position: absolute;
	top: 25px;
	right: 35px;
}
.nav-list {
	display: block;
	padding-top: 83px;
	position: absolute;
	top: 0;
	background: #23527C;
	min-height: 100vh;
	transition: all .5s;
	width: 400px;
	right: -500px; 
	text-align: center;
	padding-left: 0;
	z-index: 4;
}
.nav-visible{
	right: 0;
}
.nav-list li a {
	font-size: 18px;
	color: #fff;
}
.nav-list li {
	margin-right: 0px;
	margin-bottom: 20px;
}
.entry-meta ul li span a.blog-person-name {
	font-size: 12px;
	font-weight: 400;
}


.visible-desktop{
	display: none;
}
.hidden-desktop{
	display: block;
}


}

/* Tablet Portrait size to standard 960 (devices and browsers)  800*1280 , 768*1024 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.view-student-area ul li:first-child {
	width: 100px;
	margin-bottom: 7px;
}
.view-student-area ul {
	margin-bottom: 20px;
}

}
/* All Mobile Sizes (devices and browser) 360*640 */
@media only screen and (max-width: 991px) {
h3 {
	font-size: 19px;
}
header + section {
	margin-top: 80px;
}
.blog-content h4 {
	margin-bottom: 12px;
}
.my-profile-details {
	padding-left: 8px;
}
.name_join h2 {
	font-size: 34px;
}

}



@media only screen and (max-width: 767px) {
header + section {
	margin-top: 65px;
}
.content-section {
	padding: 25px 0px;
}
.status-related-dept{
	font-size: 25px;
	margin-bottom: -7px;
}
.small-device-page-right{
	display: none;
}
.home-page-right {
	padding-left: 0px;
}
.map-area {
	margin-top: 0;
}
.athor-row{
	display: flex;
}
.athor-col-one {
	width: 115px;
}
.athor-col-two{
	width: calc(100% - 115px;);
}
.view-list {
	margin-top: 2px;
	margin-bottom: 7px;
}
.forum-content h4 {
	padding-right: 0px;
	margin-top: 10px;
}
.forum-item {
	padding: 30px 0px 20px;
}


.footer{
	overflow: hidden;
	height: 50px;
	background: #23527C;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer-icon {
	display: block;
	padding-top: 12px;
}
 .footer-fix {
	cursor: pointer;
	color: #fff;
}
.footer-fix i {
	font-size: 40px;
}
.footer-close {
	cursor: pointer;
	color: #ED502E;
	display: none;
}

.my-profile-details {
	padding-left: 0px;
}
.about_button{
	display: block;
}
.profile-about-one,.another-profile-about-one{
	display: none;
}


.forum-heading-area {
	flex-wrap: wrap;
}
.forum-heading {
	width: 100%;
}
.footer-close i{
	font-size: 40px;
	cursor: pointer;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.xs-entry-meta{
	width: 160px;
}


.forum-content-text {
	width: 100%;
}
.forum-person-image {
	margin: 0;
}
.my-image img {
	width: 325px;
	height: 325px;
	margin: 0;
}
.name_join h2 {
	font-size: 30px;
}
.navigation {
	padding: 24px 25px;
}
.contact-us form {
	margin-bottom: 40px;
}
.contact-button input {
	margin: 13px auto 0;
	padding: 13px 40px;
	font-size: 16px;
}
.hotline h4 {
	font-size: 25px;
}
.contact-right address p.address-heading {
	font-size: 24px;
}
.contact-right address p.address-text {
	font-size: 17px;
}
.edit-post-sign-in-area form .sign-input {
	margin-bottom: 10px;
}
.edit-option-area{
	margin: 40px 0px;
}
.edit-post-sign-in-area form .sign-input label {
	width: 140px;
}
.edit-post-sign-in-area form .sign-input textarea {
	width: calc(100% - 140px);
}
.edit-post-sign-in-area form .sign-input select {
	width: calc(100% - 140px);
}
.edit-post-sign-in-area form .sign-input input {
	width: calc(100% - 140px);
}
.edit-upload-image {
	margin-left: 140px;
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320*480  */
@media only screen and (max-width: 479px) {

}
@media only screen and (max-width: 500px) {
.navigation {
	padding: 20px 15px;
}
.nav-list {
	width: 100%;
}
.logo a h1 {
	font-size: 22px;
}
.nav-icon i {
	font-size: 28px;
	margin-top: 0;
	display: block;
}
.xs-entry-meta {
	width: 79px;
}


.forum-content {
	display: block;
}

.forum-content-text {
	margin-left: 0px;
}
.view-list ul li {
	margin-right: 10px;
}
.timeline-input {
	margin-bottom: 8px;
}
.profile-title {
	margin-top: 15px;
}
.contact-us h3 {
	font-size: 22px;
	color: #fff;
	margin-bottom: 20px;
}
.contact-us-input input, .contact-us-input textarea {
	margin-bottom: 20px;
}
.edit-post-sign-in-area form {
	padding: 35px 25px;
}
.edit-post-sign-in-area form .sign-input label {
	width: 100%;
	font-size: 15px;
}
.edit-post-sign-in-area form .sign-input textarea {
	width: 100%;
}
.edit-post-sign-in-area form .sign-input select {
	width: 100%;
}
.edit-post-sign-in-area form .sign-input input {
	width: 100%;
}
.edit-upload-image {
	margin-left: 0px;
}

}


@media only screen and (max-width: 420px) {

.forum-content {
	display: block;
}
.my-image img {
	width: 100%;
	height: auto;
	margin: 0;
}
.profile-menu ul li {
	margin-right: 22px;
}
.name_join h2 {
	font-size: 28px;
}
.profile-timeline-content:first-child {
	margin-top: 0px;
}
.profile-timeline-content {
	padding: 30px 0px;
}
.upload-image-one {
	height: 45px;
	width: 100%;
	float: none;
	margin-bottom: 15px;
}
.upload-image-one a {
	height: 45px;
	width: 100%;
	padding-top: 11px;
}
.upload-image-one input.upload-image {
	height: 45px;
	width: 100%;
}
.input-image-area button {
	height: 45px;
	width: 100%;
}
.timeline-post {
	padding: 15px;
	margin: 15px 0px;
}
}
